<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-contacts-save" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ContactsSave</name>
    <js-module name="ContactsSave" src="www/ContactsSave.js">
        <clobbers target="ContactsSave" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ContactsSave">
                <param name="ios-package" value="ContactsSave" />
            </feature>
        </config-file>
        <source-file src="src/ios/ContactsSave.m" />
    </platform>
</plugin>